@import 'my-variables';
@import 'waves';

body {
  background: linear-gradient(60deg, $primary-color 0%, $secondary-color 100%);

}

/* header */
.header {
  position: relative;
  text-align:center;
  background-attachment: fixed;
  color:rgb(0, 0, 0);
  min-height: 101vh;
  height: fit-content;
  width: 100%;
  
  /*Nav*/
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    .logo {
      width: 4rem;
      margin: 3rem 2rem;
      mix-blend-mode: lighten;
      
    }
    .logo-animation {
      display: none;
      opacity: 0;
      transition: opacity .5s ease-in-out;
    }
  }

  .btn {
    color: white;
      transition: transform .2s ease-in-out;
      background: linear-gradient(60deg, $primary-color 0%, $secondary-color 100%);

      &:hover {
        color: white;
        transform: scale(1.05);  
      }
      
    }
    .cards-container {
      margin: 0 auto;
      justify-content: flex-start;

      .load-more-btn {
        border: 2px solid white;
        max-width: fit-content;

        margin-top: 3em;
        margin-bottom: 3em;
      }

      .my-card {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        

        .card {

          height: 100%;
          .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 2em;
            align-items: center;
          }
        }

       
      }
      .read-article-btn {
        max-width: fit-content;
        
      }
    }
  }
  
  // Footer
  footer {
    i {
      color: $secondary-color;
    }
  }
  

  
@media only screen and (min-width: 576px) {
  .header {
    nav {
      justify-content: flex-start;
      .logo {
        margin-right: 1rem;
      }
      .logo-animation {
        display: flex;
        align-items: center;
      }
    }
  }
}