@import "my-variables";
@import "waves";

/*Scrollbar*/
*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: content-box;
}

/*Background*/
body {
  overflow: overlay;

  .btn-gradient {

    color: white;
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(
      60deg,
      $primary-color 0%,
      $secondary-color 100%
      );

    &:hover {
      color: white;
      transform: scale(1.05);
    }

  }

  .fs-black {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(#000000, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    span {
      padding-left: 1rem;
      color: white;
    }
  }
}

/* header */
.header {
  background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);
  position: relative;
  text-align: center;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  height: fit-content;
  width: 100%;

  &.top {
    background: linear-gradient(
      90deg,
      $primary-color-top 0%,
      $secondary-color-top 100%
    );
  }

  /*Nav*/
  nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem 2rem;
      color: white;
      font-size: 2rem;

      width: 4rem;
      height: 4rem;
      border: 2px solid white;
    }
    .logo-animation {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  /* Tabs navigation bar */

  .tabs-container {
    margin: 1rem auto;
    margin-bottom: 2rem;
    color: white;
    padding-left: var(--mdb-gutter-x, 0.75rem);

    li:first-of-type {
      margin-left: 2rem;
    }

    a {
      color: white;
      font-weight: 600;

      &:hover {
        color: black;
      }

      &.active {
        color: white;
        background-color: transparent;
        border-color: white;

        &:hover {
          background-color: white;
          color: black;
          border-color: $primary-color-top;
        }
      }
    }
  }

  /* Cards container */
  .cards-container {
    margin: 0 auto;
    justify-content: flex-start;

    &.top .btn-gradient {
        background: linear-gradient(
          90deg,
          $primary-color-top 0%,
          $secondary-color-top 100%
        );
      }

    &.active {
      display: flex;
    }

    .load-more-btn-new,
    .load-more-btn-top {
      border: 2px solid white;
      max-width: fit-content;
      opacity: 0;
      margin-top: 3em;
      margin-bottom: 3em;
      z-index: 10;
    }

    .my-card {
      opacity: 0;
      transition: opacity 1s ease-in-out;

      .card {
        height: 100%;
        z-index: 10;
        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 2em;
          align-items: center;
        }
      }
    }
    .read-article-btn {
      max-width: fit-content;
    }
  }
}

/* Footer */
footer {
  position: relative;
  z-index: 100;
  i {
    color: $secondary-color;
  }
}

@media only screen and (min-width: 576px) {
  .header {
    nav {
      justify-content: flex-start;
      a {
        margin-right: 1rem;
      }
      .logo-animation {
        display: flex;
        align-items: center;
      }
    }
  }
}
